.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }     
    
.sidenav a:visited {
    color: black;
}

h1 {
    color: #64CCC5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-size: larger;
    color: #DAFFFB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

ul {
    display: table;
    margin: 0 auto;
    font-size: larger;
    color: #DAFFFB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.sidenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 1; 
    top: 0;
    background-color: #34252F; 
    overflow-x: hidden;
    padding-top: 60px; 
    transition: 0.5s;
    left:0;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}
  
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.infocbtn {
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #34252F;
    color: white;
    padding: 10px 15px;
    border: none;
    

}
  
.openbtn:hover {
    background-color: #444;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}