{% extends 'base.html' %}

{%block title%}
    About Us
{% endblock %}

{%block headadd%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_us.css') }}"/>

{% endblock %}

{% block content %}
<body style = "background-image: linear-gradient( rgb(0, 150, 153), darkblue); height: 100%; margin: 0; background-repeat: no-repeat; background-attachment: fixed;" >
    <div id="SideNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn prevent-select" onclick="closeNav()">&times;</a>
        <a href="/" class="prevent-select"; style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Home</a>
        <a href="/nature_reserve" class="prevent-select"; style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Nature Reserves</a>
        <a href="/species" class="prevent-select"; style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Species</a>
    </div>
      <button class="openbtn prevent-select" onclick="openNav()" style="cursor:pointer;">&#9776;</button>
      <div id="main">
        <br><br>
      <button class="accordion">Cine suntem?</button>
      <div class="panel">
        <p>Noi suntem echipa "Basil" Venim de la "Colegiul National Octavian Goga" Sibiu. Pe noi ne uneste pasiune pentru informatica, dar si dorinta de a schimba in bine societatea in care traim. </p>
      </div>
      
      <button class="accordion">Ce facem?</button>
      <div class="panel">
        <p>Pe langa viata de licean, echipa "Basil" se ocupa de multe proiecte din domeniul IT sub nevoia de dezvoltare personala.</p>
      </div>
    </div>
   <script src="/static/js/index.js"></script>
</body>
{% endblock %}

{%block scripts%}
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
} 
{%endblock%}