{% extends 'base.html' %}
{%block title%}
Species
{% endblock %}
{%block headadd%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about_us.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/species.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block content %}
<body style = "background-color: #0E4444" >
    <div id="SideNav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn prevent-select" onclick="closeNav()">&times;</a>
        <a href="/" class="prevent-select"; style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Home</a>
        <a href="/nature_reserve" class="prevent-select"; style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Nature Reserves</a>
        <a href="/about_us" class="prevent-select"; style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">About us</a>
    </div>
      <button class="openbtn prevent-select" onclick="openNav()" style="cursor:pointer;">&#9776;</button>
      <div id="main";>
        <br><br><br>
        <div class="wrapper" id="wrapper" align=center>
        <div class="no_class">
        <div class="grid-container">
        {% for item in list %}
        <div class="card" style="background-color: #2E7674; width: 85%">
          <img src="{{item['images']}}/1.jpg" alt="Avatar" style="width:100%; height:300px;" onclick="onClick(this)">
          <div class="container">
            <h4 id="name"><b>{{item['name']}}</b></h4>
            <p style="color: #04364A; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{item['status']}}</p>
          </div>
        </div> 
          {% endfor %}
    </div>
  </div>
</div>
</div>
    <script src="/static/js/lightbox.js"></script>
</body>
{% endblock %}
{%block scripts%}
{%endblock%}